.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;

    color: rgb(120, 125, 133);
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    transition: all 0.3s;
    margin-top: 20px;
}
.firstLevelActive {
    color: var(--primary);
}
.firstLevelActive svg,
.firstLevelActive span {
    fill: var(--primary);
}
.firstLevel:hover svg,
.firstLevel:hover span {
    fill: var(--primary);
    color: var(--primary);
}
.secondLevel {
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;

    color: rgb(120, 125, 133);
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}
.secondBlock {
    margin-left: 12px;
    padding-left: 32px;
    margin-top: 15px;

    border-left: 1px solid #dfdfdf;
}
.secondLevelBlock {
    display: none;
}
.secondLevelBlockOpened {
    display: block;
}
.secondLevelBlockOpened:last-child {
    margin-bottom: 20px;
}
.thirdLevel {
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    color: rgb(120, 125, 133);

    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}
.thirdLevelActive,
.thirdLevel:hover {
    color: var(--primary);
}
