html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background: #0c0c0c;
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}
:root {
  --black: #3b434e;
  --gray-light: #ebebeb;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #4f25f6;
  --red: #fc8360;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: "Noto Sans KR", sans-serif;
}
